.aside {
  display: none;
}

@media screen and (min-width: 1024px) {
  .aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 20px;
    margin-top: 20px;
    align-items: center;
  }
}

