.navbar {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 20px;
  background: #242D38;
}

.nav__items-container {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav__item-icon-mock {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #dddedf;
}

.nav__item-icon-mock.desktop {
  display: none;
}

.logo {
  position: relative;
}

.logo img {
  display: block;
  width: 100%; 
  height: auto;
}

.logo img:nth-child(2) {
  display: none;
}

@media screen and (min-width: 1024px) {
  .navbar {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100%;
    padding: 40px;
    gap: 100px;
    max-width: 250px;
  }

  .nav__items-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .nav__item-icon-mock {
    display: block;
    width: 110px;
    height: 10px;
    border-radius: 0;
    background-color: #dddedf;
  }

  .nav__item-icon-mock.desktop {
    display: block;
  }

  .logo img:nth-child(1) {
    display: none; /* ocultar el logo mobile en desktop */
  }
  .logo img:nth-child(2) {
    display: block; /* mostrar el logo desktop en desktop */
  }
}