.post {
  border: 1px solid #e1e2e3;
  border-radius: 5px;
  background-color: #fff;
}

.post__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f6f6f8;
}

.post__header-feed-container {
  display: flex;
  flex-direction: column;
}

.post__header-feed {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  text-wrap: balance;
  color: #304c70;
  position: relative;
}

.post__header-subfeed {
  position: relative;
  color: #7598c4;
  font-weight: bold;
  text-wrap: pretty;
}

.post__header-date {
  display: flex;
  gap: 5px;
  align-items: center;
  text-wrap: nowrap;
  font-size: 14px;
}

.post__head-body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #ECECF1;
}

.post__author {
  color: #a3a3a8;
  grid-row: 1;
  grid-column: 1/12 span;
}

.post__logo-container {
  grid-row: 2;
  width: 36px;
  height: 36px;
  position: relative;
}

.post__logo-container img {
  width: 100%;
  border-radius: 50%;
}

.post__title {
  grid-row: 2;
  grid-column: 2/12 span;
}

.post__body {
  margin: 20px;
  word-wrap: break-word;
  font-weight: 300;
  line-height: 1.5;
}

.post__footer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  margin: 0 20px 20px 20px;
}

.post__footer-option {
  display: flex;
  width: 85px;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
  transition: color .3s, fill .3s, stroke .3s;
}

.post__footer-option--last {
  width: auto;
}

.post__footer-option svg path {
  transition: color .3s, fill .3s, stroke .3s;
}

.post__footer-option.liked,
.post__footer-option.liked svg path {
  color: #d25746;
  fill: #d25746;
  stroke: #d25746;
}

.post__footer-option.saved,
.post__footer-option.saved svg path {
  color: #338473;
  fill: #338473;
  stroke: #338473;
}

@media screen and (min-width: 1024px) {
  .post__header-feed-container {
    flex-direction: row;
    gap: 20px;
  }

  .post__header-feed::after {
    position: absolute;
    display: block;
    width: 6px;
    height: 11px;
    right: -15px;
    top: 50%;
    transform: translateY(-90%);
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 11' fill='none'%3E%3Cpath d='M0 9.83437V0.965625C0 0.667708 0.1375 0.461458 0.4125 0.346875C0.710417 0.232291 0.9625 0.278125 1.16875 0.484375L5.60313 4.91875C5.74063 5.05625 5.80938 5.21667 5.80938 5.4C5.80938 5.58333 5.74063 5.74375 5.60313 5.88125L1.16875 10.3156C0.9625 10.5219 0.710417 10.5677 0.4125 10.4531C0.1375 10.3385 0 10.1323 0 9.83437Z' fill='%2399B2D3'/%3E%3C/svg%3E");
  }
  
}