.app {
  display: grid;
  min-height: 100vh;
  overflow-y:auto;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  grid-template-columns: 1fr;
  grid-template-areas: 
    "nav nav"
    "feed feed";
}

@media screen and (min-width: 1024px) {
  .app {
    grid-template-areas:
      "nav header header header"
      "nav feed feed aside"
      "nav feed feed aside";
    grid-template-columns: minmax(0, 250px) 3fr 1fr;
  }

  .header {
    grid-area: header;
  }

}